

@use "./_variables.scss" as *;

@use "./_mixins.scss" as *;


@use "./_animations.scss" as *;

@use "./_base.scss" as *;

@use "../src/view/baseGrid/_baseGrid.scss" as *;

@use "../src/view/leftMenu/_leftMenu.scss" as *;


@use "../src/view/defaultViews/defaultViews" as *;

@use "../src/view/centerViews/centerViews" as *;

@use "../src/view/settingsCells/settingsCell" as *;

@use "../src/view/bottomViews/bottomViews" as *;

@use "../src/view/popUpViews/popUpViews" as *;


@include create-dissapear();

@include create-base-classes();

body {
    overflow: hidden;
}

#app {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;

    .app-holder {
        height: 100vh;
        margin: auto;
        position: relative;
        overflow: hidden;
    }

}

