@use "../../../css/_variables.scss" as *;

@use "../../../css/_mixins.scss" as *;




.settings-click-cell {

    color: $t-primary;
    @include prepare-border;
    border-bottom:  $border;

    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-template-columns: auto 60px;
    grid-template-rows: 1fr;
    padding: $padding-elem;
    gap: $padding-layout;



    .text {
        display: grid;
        position: relative;
        grid-auto-flow: row;
        grid-template-rows: auto auto;
        gap: $padding-elem;
        grid-template-columns: 1fr;
        overflow-wrap: anywhere;
        .title {
            color: $t-primary;
            text-align: left;
            font-size: map-get($map:$text-size  , $key: "subhead" );
            font-weight: map-get($map:$text-weight  , $key: "regular" );
        }

        .message {
            color: $t-secondary;
            text-align: left;
            font-size: map-get($map:$text-size  , $key: "subhead" );
        font-weight: map-get($map:$text-weight  , $key: "regular" );
        }

    }


    .selector {


    }


    .switch {
        position: relative;

        @include prepare-border();
        border-radius: 25px;
        border: $border;
        background-color: $c-secondary-dark;
        height: 25px;
        max-height: 25px;
        width: 50px;
        max-width: 50px;
     
        .circle {
            aspect-ratio: 1 /1;
            position: absolute;
            top: 4px;
            bottom: 4px;
            left: 4px;
            background-color: $t-primary;
            @include prepare-border();
            border-radius: 50%;

        }

    }

    &:hover {
        @include pointer();
        background-color: $c-secondary;
    }

}

.selected .settings-click-cell  {


    .switch {

        
        background-color: $c-accent;
        .circle {
            aspect-ratio: 1 /1;
            position: absolute;
            top: 4px;
            bottom: 4px;
            right: 4px;
            left: auto;
            background-color: $t-primary;
     
        }

    }


}



.section-cell {

    height: 60px;
    @include prepare-border();
    border-bottom: $border;


    .title {
        color: $t-secondary;
        font-size: map-get($map:$text-size  , $key: "subhead" );
        font-weight: map-get($map:$text-weight  , $key: "regular" );
        position: absolute;
        left: $padding-elem;
        right: $padding-elem;
        text-align: left;
        bottom: $padding-elem;
    }

}

.logs-cell-holder {

    height: 40px;
    @include prepare-border();
    border-bottom: $border;
    color: $t-primary;

    .logs-cell {

        display: grid;
        grid-template-columns: auto 0px;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        gap: $padding-elem;
    }

   

    .title {
        padding-left: $padding-elem;
        font-size: map-get($map:$text-size  , $key: "subhead" );
        font-weight: map-get($map:$text-weight  , $key: "regular" );
    }

    .arrow {
        overflow: hidden;
        color: $t-secondary;
        font-size: map-get($map:$text-size  , $key: "subhead" );
        font-weight: map-get($map:$text-weight  , $key: "semibold");
    }

}


.logs-cell-holder.selectable {
    &:hover {
        background-color: $c-secondary-dark;
        cursor: pointer;
    }
}

.logs-cell-holder.error {
   .title {
    color: $red;
    font-weight: map-get($map:$text-weight  , $key: "medium");

   }
}


.logs-cell-holder.selected {
    border-left: $selected-border;
    background-color: $c-secondary-dark;
    border-bottom-width: 0px;
}


.logs-cell-holder.arrow {
    .logs-cell {

        grid-template-columns: auto 30px;
 
    }
}


.js-logs-cell-holder {
    @include prepare-border();
    border-bottom: $border;
    padding: $padding-elem;
    .js-logs-cell {
        color: $t-secondary;
        font-size: map-get($map:$text-size  , $key: "subhead" );
        font-weight: map-get($map:$text-weight  , $key: "regular");
        position: relative;
    }

    pre {

        word-wrap: break-word;
        max-width: 100%;
        white-space: pre-wrap;       /* Since CSS 2.1 */
    }
}


.js-logs-cell-holder.error {
    border-left: 4px solid $red;
    
}


.param-editor-holder {
    padding-top: $padding-elem;
    @include prepare-border();
    color: $t-primary;
    font-size: map-get($map:$text-size  , $key: "subhead" );
    font-weight: map-get($map:$text-weight  , $key: "regular" );
    //border-bottom: $border;
    .param-editor {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .title {
        padding-left: $padding-elem;

    }

    .message {
        font-size:13px;

        color: $t-secondary;
        padding-left: $padding-elem;
        opacity: 0.5;
        margin-bottom: $padding-elem;
        display: none;

    }

    input {
        font-size: map-get($map:$text-size  , $key: "subhead" );
        font-weight: map-get($map:$text-weight  , $key: "regular" );
        color: $t-secondary;
        height: 38px;
        @include prepare-border();
        padding-left: $padding-elem;
        padding-right: $padding-elem;
        border-bottom: 0;
        background-color: transparent;

        &:focus ~ .message{
            display: block;
        }

        &:focus {
            
            color: $t-secondary;
            
        }
        
    }

    &:hover {
        input {
            color: $t-primary;
        }
        input::placeholder {
            color: $t-primary;
            opacity: 0.7;
        }
    }
}
