
@use "../../../css/_variables.scss" as *;

@use "../../../css/_mixins.scss" as *;



.left-menu-grid-element {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;


    .left-sub-menu {
        background-color: transparent;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        position: relative;
    
        .left-sub-menu-holder {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
        }


        .cell {
            aspect-ratio: 1/1;  
            position: relative;
            opacity: 0.8;


            &:hover {
                opacity: 1;
                background-color: $c-secondary-dark;
                cursor: pointer;
            }

            .cell-holder {
                position: relative;
                display: grid;
                grid-auto-flow: row;
                grid-template-columns: 1fr;
                grid-template-rows: min-content;
                gap: $padding-elem;
            }

            img {
                //display: none;
                display: flex;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: transparent;
                filter: invert(98%) sepia(8%) saturate(263%) hue-rotate(195deg) brightness(111%) contrast(80%);

            }

            .title {
                color: $t-primary;
                text-align: center;
                overflow: hidden;
                max-width: 100%;
                line-height: 13px;
            
            }
        }

        .selected {
            background-color: $c-secondary-dark;
            @include prepare-border();
            border-left: $border;
            border-color: $c-accent;
            border-width: 4px;
            opacity: 1;
        }
        
    }

    .left-menu-viewer {
        position: relative;
        background-color: transparent;
        @include prepare-border();
        border-left: $border;
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    
        .left-menu-viewer-view {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $c-secondary;
            color: $t-primary;
        }
    
    }


    .left-top-view{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: transparent;
        @include prepare-border();
        border-bottom: $border;
        padding: $padding-elem;

        .grid {

            display: grid;
            grid-template-columns: auto 120px;
            gap: $padding-elem;
        }

        .p-name {
            position: relative;
            overflow: hidden;
            font-size: map-get($map:$text-size  , $key: "subhead" );
            font-weight: map-get($map:$text-weight  , $key: "medium" );
            color: $t-primary;

            div {
                max-width: 100%;
                width: 100%;
            }
        }

        .buttons-holder {
            position: relative;
            display: grid;
            grid-template-columns: 1fr $padding-elem 1fr;
   


            .button {
                position: relative;
                overflow: hidden;
                border-radius: $radius;


                color: $t-secondary;
                @include pointer();
    
                &:hover {
                    color: $t-primary;
                }

                .center-absolute {
                    background-color: $c-secondary-dark;
                    overflow: hidden;
       
                    font-size: map-get($map:$text-size  , $key: "footnote" );
                    padding: 5px;
                    width: 100%;
                    text-align: center;
                    font-weight: map-get($map:$text-weight  , $key: "medium" );
                }

            }
        }
    }
    
}


.left-menu-big {
    grid-template-columns: 80px auto ;
    grid-template-rows: 40px auto ;

    background-color: $c-secondary;

}

.left-menu-small {
    grid-template-columns: 40px auto ;
    grid-template-rows: 0px auto ;

    background-color: $c-primary;

    .left-top-view {
        opacity: 0;
        display: none;
    }

    .left-sub-menu {

        .cell {
            .cell-holder {
                .title {
                    display: none;
                }
                
            }
        }
    }

  
}






.collection-view-cell-test {
    width: 100%;
    max-width: 100%;
    min-height: 45px;
    position: relative;


    &:hover {
        .button-holder {
            opacity: 1;
        }

    }

    .cell-holder {
        position: absolute;
        left: 0px;
        right: 0;
        bottom: 0;
        top: 0;
        color: $t-primary;
        font-weight: map-get($map: $text-weight, $key: "regular");
        background-color: $c-secondary;
    
        &:hover {
            background-color: $c-secondary-dark;
        } 
    }

    .selected {
        background-color: $c-secondary-dark;
        @include prepare-border();
        border-left: $border;
        border-color: $c-accent;
        border-width: 4px;
    }


    .cell-distr {
        display: grid;
        grid-template-columns: 25px auto 50px ;
        grid-template-rows: 1fr;        
    }

    img {
        width: 18px;
        height: 18px;
        filter: invert(98%) sepia(8%) saturate(263%) hue-rotate(195deg) brightness(111%) contrast(80%);
        padding-left: 10px;
    }
    
    .title {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 8px;
        font-size: map-get($map:$text-size  , $key: "subhead" );
        color: $t-primary;
    }

      .button-holder {

        padding: 5px;
        position: relative;
        opacity: 0;
        color: $t-secondary;

        &:hover {
            color: red;
        }

        .bh-txt {
            font-size: 11px;
            @include prepare-border();
            padding: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            @include prepare-border();
            border: $border;
            border-radius: 3px;
            line-height: 10px;

         
        }
    }
    
} 


.collection-view-cell-header-test {
    width: 100%;
    max-width: 100%;
    min-height: 40px;
    position: relative;
    color: $t-secondary;

    &:hover {
        color: $t-primary;

        .section-controller{
            img {
                filter: invert(100%) sepia(100%) saturate(7%) hue-rotate(178deg) brightness(104%) contrast(100%);
            }
            
        } 

        .button-holder {
            opacity: 1;
        }
    
    
    }

    .cell-holder {
        position: absolute;
        left: 0px;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: $c-secondary;

        .bottom-border {
            @include prepare-border();
            border-bottom: $border;
        }


    }
    

    .section-controller{
        position: relative;
        img {
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            filter: invert(81%) sepia(4%) saturate(28%) hue-rotate(322deg) brightness(84%) contrast(81%);

        }
        
    } 

    .section-distr {
        display: grid;
        grid-template-columns: 25px auto 50px;
        grid-template-rows: 1fr;        
    } 

    .button-holder {

        position: relative;
        opacity: 0;

        .bh-txt {
            color: $t-secondary;
            font-size: 11px;
            @include prepare-border();
            padding: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            @include prepare-border();
            border: $border;
            border-radius: 3px;
            line-height: 10px;
         
        }

        &:hover {

            .bh-txt {
                background-color: $c-secondary-dark;
                color: $t-primary;
            }
       
        }
      
    }


    
    .title {
        position: relative;
        overflow: hidden;
        .text{
            position: absolute;
            left: 3px;
            bottom: $padding-elem;
            font-size: map-get($map:$text-size  , $key: "subhead" );

        }
   
    }


}


